.bounding-box {
    position: absolute;
    display: flex;
    box-shadow: 0 0 0 3px #149df2 inset; 
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
}



.result-main-div {
    position: relative;
    width: 400px;
    height: auto;
    margin: 15px auto;

}
